{{>layout/header}}

<h1>Todo list</h1>

<div>
    <input id="todo-save" />
    <button onclick="saveTodo()">추가하기</button>
</div>

<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>할 일</th>
            <th>상태</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        {{#todos}}
            <tr>
                <td>{{id}}</td>
                <td>{{content}}</td>
                <td>{{completed_fl}}</td>
                <td><button onclick="deleteTodo({{id}})">삭제</button></td>
            </tr>
        {{/todos}}
    </tbody>
</table>

{{>layout/footer}}